<section>
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <input type="text" [(ngModel)]="newTodo" (keyup.enter)="createTodo()" class="form-control" placeholder="Groceries">
        </div>

        <div class="col-xs-12 col-sm-2">
            <button type="button" (click)="createTodo()" class="btn btn-success">Add Todo</button>
        </div>
    </div>

    <ul class="todo-list">
        <li *ngFor="let todo of store.todos" [class.completed]="todo.completed" [class.saving]="todo.saving" class="todo-item clearfix">
            <div (click)="toggleComplete(todo)" class="todo-status">
                <span *ngIf="todo.completed" class="glyphicon glyphicon-ok-circle text-success"></span>
                <span *ngIf=" ! todo.completed" class="glyphicon glyphicon-remove-circle text-danger"></span>
            </div>

            <p class="todo-title">{{ todo.title }}</p>

            <div class="todo-actions">
                <span (click)="deleteTodo(todo)" class="glyphicon glyphicon-trash"></span>
                <span class="glyphicon glyphicon-refresh saving-icon"></span>
            </div>
        </li>
    </ul>
</section>