<div>
    <input type="text" [(ngModel)]="newTodo" (keyup.enter)="createTodo()">
    <button type="button" (click)="createTodo()">Add Todo</button>

    <ul class="todos">
        <li *ngFor="let todo of store.todos" [class.completed]="todo.completed" [class.saving]="todo.saving">
            <input type="checkbox" (change)="toggleComplete(todo)" [(ngModel)]="todo.completed">

            {{ todo.title }}

            <button type="button" (click)="deleteTodo(todo)">&times;</button>
        </li>
    </ul>
</div>